{% extends 'index.html' %} 
{% block post %}
<div class="about">
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Fernando Kovalink</h2> 
          <p class="title">Developer Jr.</p>
          <p>Pagina web desarollada en Django. </p>
          <p>Mis Redes:</p>
          <a href='https://github.com/FerKovalink'>Github</a>
          <br>
          <a href='https://www.linkedin.com/in/fernando-kovalink-6024a6232/'>Linkedin</a>
          <br>
          <a href='ferkovalink@gmail.com'>E-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock post %}