{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #cfd1d2;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">

    <div class="card-header">
        {% if not request.user.is_authenticated %}
        <h3 class="text-muted small mb-4 mb-lg-0"><h3>Bienvenido</h3>
        {% endif %}

        {% if request.user.is_authenticated %}
        <h3 class="text-muted small mb-4 mb-lg-0"><h3>Hola {{user.username}}</h3>
        {% endif %}
    </div>

    <div class="card-body">  
        {% if not request.user.is_authenticated %}
        <h5> Inicia sesion o registrate </h5>
        {% endif %}

         {% if request.user.is_authenticated %}
         <p class="card-text"><img src="{{MEDIA_URL}}" style="height: 90px; width: 95px;" ></p> 
         <a href="{% url 'New'  %}">Nuevo Post</a>
        {% endif %}
    </div>
<br>
<br>
        
    <div class="btn">
        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}

        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
     </div>
</div>
</div>

{% endblock sidebar %}